{% extends 'base.html.twig' %}
{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Your Result!</h1>
            <div class="result">
                <div class="result-header">
                    <div class="result-row">
                        <div class="result-column bg-green">
                            <p class="result-header__title">RIGHT</p>
                        </div>
                        <div class="result-column bg-red">
                            <p class="result-header__title">WRONG</p>
                        </div>
                    </div>
                </div>
                <div class="result-body">
                    <div class="result-row">
                        {% set rightAnswer = '' %}
                        {% set wrongAnswer = '' %}
                        {% for question in questions %}
                            {% if question.id in rightAnswers %}
                                {% set rightAnswer %}
                                    {{ rightAnswer }}
                                    <p class="result-answer">{{ question.description }}</p>
                                {% endset %}
                            {% else %}
                                {% set wrongAnswer%}
                                    {{ wrongAnswer }}
                                    <p class="result-answer">{{ question.description }}</p>
                                {% endset %}
                            {% endif %}
                        {% endfor %}
                        <div class="result-column">
                            {{ rightAnswer }}
                        </div>
                        <div class="result-column">
                            {{ wrongAnswer }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}