{% extends 'base.html.twig' %}
{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Welcome to quiz!</h1>
            {{ form_start(form) }}
            {% set i = 0 %}
            {% for label, choices in form.answer.vars.choices %}
            {% set i = i + 1 %}
            <p class="form__question">{{ i }}. {{  label }}</p>
            <div class="form__answers">
                {% for key, choice in choices %}
                    <div class="form__option">
                        {{ form_widget(form.answer.children[key], {
                            'full_name': 'question['~choice.data.question.id~'][]',
                            'attr': {'class': 'form__input'}})
                        }}
                        {{ form_label(form.answer.children[key], null, {'label_attr' : {'class':'form__label'}}) }}
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
            {{ form_widget(form.result) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}